NODE_ENV=

DATABASE_URL=

REDIS_URL=

CACHE_TTL=

MONGODB_URL=

RABBITMQ_URL=

RABBITMQ_EXCHANGE=

RABBITMQ_USER_COMMANDS_QUEUE=

RABBITMQ_AUDIT_AUTH_QUEUE=
RABBITMQ_AUDIT_USER_QUEUE=

RABBITMQ_DLQ=

JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=
JWT_EXPIRATION=

BCRYPT_ROUNDS=
MAX_LOGIN_ATTEMPTS=